<!-- views/analytics.ejs -->
<!doctype html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Foodbook Analytics</title>
	<link href="../css/foodbook.css" rel="stylesheet" type="text/css">
</head>

<body onload="javascript:init()">
<div class="container">
	<div class="row rowNoBorderBottom">
		<div class="menuContainer" id="menuMobile">
            <% if(user){ %>
			<div class="col-2">
				<a href="/mainpage">RecipeDashboard</a>
			</div>
			<div class="col-2">
				<a href="/cookbook">MyCookbook</a>
			</div>
			<div class="col-2">
				<a href="/analytics">Analytics</a>
			</div>
			<div class="col-2">
				<a href="/logout">Logout</a>
			</div>
			<div class="col-4 colNoBorder">
				<span>
					Logged as:</br>
					<strong><%= user %></strong>
				</span>
			</div>
            <% } else { %>
			<div class="col-2">
				<a href="/">SignIn</a>
			</div>
			<div class="col-2">
				<a href="/mainpage">RecipeDashboard</a>
			</div>
			<div class="col-2">
				<a href="/analytics">Analytics</a>
			</div>
			<div class="col-6 colNoBorder">
				<span>
					Please, sign in to <br /> access your Cookbook
				</span>
			</div>
            <% } %>
			<div class="icon">
				<a href="javascript:void(0);" onclick="responsiveHandler()">&#9776;</a>
			</div>
		</div>
	</div>

	<div class="row rowNoBorderBottom fdbgraph">
		<div class="col-12">
            <% recipeInCookbook.forEach(function(ric,i) {%>
			<input type="hidden" class="recipeInCookbook" name="recipeInCookbook" data-recipename="<%= ric.name %>"  data-cookbooks="<%= ric.added %>" value="<%= ric %>" />
            <% }); %>
			<div id="ric_graph" class="fdbChart"></div>
		</div>
	</div>
	<div class="row rowNoBorderTop fdbgraph">
		<div class="col-12">
			<% recipeRating.forEach(function(rr,i) {%>
				<input type="hidden" class="recipeRating" name="recipeRating" data-recipename="<%= rr.name %>"  data-rating="<%= rr.rating %>" value="<%= rr %>" />
			<% }); %>
			<div id="rr_graph" class="fdbChart"></div>
		</div>
	</div>
</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
    function init() {
        options = {
            backgroundColor: {
                fill:'transparent',
                stroke: 'rosybrown',
                strokeWidth: 3
            },
            height : 600,
            bar: {
                groupWidth: "70%"
            },
            hAxis: {
                title: '',
                minValue: 0
            },
            vAxis: {
                title: ''
            },
            legend: { position: 'top', alignment: 'end', maxLines: 2 },
            colors : ['rosybrown']
        }
    }
</script>

<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawRic);
    var recipeInCookbook = document.getElementsByClassName('recipeInCookbook');

    function drawRic() {
        var recipesData = new Array();
        recipesData.push(['Recipes', 'Cookbooks']);
        for(var r=0; r<recipeInCookbook.length; r++){
            recipesData.push([recipeInCookbook[r].getAttribute("data-recipename"), parseInt(recipeInCookbook[r].getAttribute("data-cookbooks"))]);
        };
        recipesData.sort(function(a, b){return b[1]-a[1]});
        var data = google.visualization.arrayToDataTable(recipesData);

        optionsRic = options;
        optionsRic.title = 'TOP 10 POPULAR RECIPES';

        var chart = new google.visualization.BarChart(document.getElementById('ric_graph'));

        chart.draw(data, optionsRic);
    }

    if (window.addEventListener) {
        window.addEventListener('resize', drawRic);
    }
    else {
        window.attachEvent('onresize', drawRic);
    }
</script>

<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawRr);
    var recipeRating = document.getElementsByClassName('recipeRating');

    function drawRr() {
        var recipeData = new Array();
        recipeData.push(['Recipes', 'Ratings',]);
        for(var i=0; i<recipeRating.length; i++){
            recipeData.push([recipeRating[i].getAttribute("data-recipename"), parseFloat(recipeRating[i].getAttribute("data-rating"))]);
        };
        recipeData.sort(function(a, b){return b[1]-a[1]});
        var data = google.visualization.arrayToDataTable(recipeData);

        var optionsRr = options;
        optionsRr.hAxis.maxValue = 5;
        optionsRr.title = 'TOP 10 RATED RECIPES';

        var chart = new google.visualization.BarChart(document.getElementById('rr_graph'));

        chart.draw(data, optionsRr);
    }

    if (window.addEventListener) {
        window.addEventListener('resize', drawRr);
    }
    else {
        window.attachEvent('onresize', drawRr);
    }
</script>

<script>
    function responsiveHandler() {
        var x = document.getElementById("menuMobile");
        if (x.className === "menuContainer") {
            x.className += " responsive";
        } else {
            x.className = "menuContainer";
        }
    }
</script>

</body>

</html>