<!-- views/mainpage.ejs -->
<!doctype html>
<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Recipe Dashboard</title>
	<link href="../css/foodbook.css" rel="stylesheet" type="text/css">
</head>

<body onload="javascript:init()">
<div class="container">
	<div class="row rowNoBorderBottom">
		<div class="menuContainer" id="menuMobile">
            <% if(user){ %>
			<div class="col-2">
				<a href="/mainpage">RecipeDashboard</a>
			</div>
			<div class="col-2">
				<a href="/cookbook">MyCookbook</a>
			</div>
			<div class="col-2">
				<a href="/analytics">Analytics</a>
			</div>
			<div class="col-2">
				<a href="/logout">Logout</a>
			</div>
			<div class="col-4 colNoBorder">
				<span>
					Logged as:<br />
					<strong><%= user %></strong>
				</span>
			</div>
            <% } else { %>
			<div class="col-2">
				<a href="/">SignIn</a>
			</div>
			<div class="col-2">
				<a href="/mainpage">RecipeDashboard</a>
			</div>
			<div class="col-2">
				<a href="/analytics">Analytics</a>
			</div>
			<div class="col-6 colNoBorder">
				<span>
					Please, sign in to <br /> access your Cookbook
				</span>
			</div>
            <% } %>
			<div class="icon">
				<a href="javascript:void(0);" onclick="responsiveHandler()">&#9776;</a>
			</div>
		</div>
	</div>

	<div class="row rowNoBorderBottom">
		<div class="searchContainer">
			<div class="col-12 colNoBorder">
				<form method="get" action="/mainpage">
					<strong> Search by ingredient:   </strong>
					<input type="text" id="searchInput" class="searchInput" name="keywords" maxlength="120"><input type="submit" value="SEARCH" class="searchButton">
				</form>
			</div>
		</div>
	</div>

	<div class="row rowNoBorderBottom">
		<div class="recipeContainer">
			<h1><i>Recipe Dashboard</i></h1>
			<ul>
			<% recipes.forEach(function(r,i) {%>
				<li>
					<form name="form<%= i %>" action="/recipe" method="post">
						<a href="#" class="recipeLink" onclick="document.forms['form<%= i %>'].submit(); return false;">
							<% r.ingredients.forEach(function(ingr,j) {%>
							<input type="hidden" class="recipeIngr<%= i %>" name="recipeingr" value="<%= ingr.name %>" />
							<% }); %>

							<input type="hidden" class="recipeInfo" name="recipeid" value="<%= r._id %>" />

							<figure>
								<img src='<%= r.image %>' alt="">
								<figcaption>
                                    <%= r.title %>
								</figcaption>
							</figure>
						</a>
					</form>
				</li>
			<% }) %>
			</ul>
		</div>
	</div>

	<div class="row" style="display: flex">
		<div class="recipeNavPage" id="recipeNavPage">
			<a href="/mainpage?page=<%=currentpage-1%>&keywords=<%=keywords%>" id="aPrev">&laquo; Prev</a>
            <% var pages = (npages < 10) ? npages : 9 %>
            <% for(var i=0; i<pages; i++){ %>
				<a href="/mainpage?page=<%=i+1%>&keywords=<%=keywords%>" id="aPag<%= i %>"></a>
            <% } %>
			<a href="/mainpage?page=<%=currentpage+1%>&keywords=<%=keywords%>" id="aNext">Next &raquo;</a>
		</div>
	</div>
</div>


<script>
    function init() {
        document.getElementById('searchInput').value = '<% keywords %>';

        var currentPage = +'<%=currentpage%>';
        var nPages = +'<%=npages%>';

        if(currentPage == 1){
            document.getElementById('aPrev').className = 'not-active';
        }
        if(currentPage == nPages){
            document.getElementById('aNext').className = 'not-active';
        }

        var fromPage = 1, toPage;
        if(nPages < 10){
            toPage = nPages;
        } else {
            if(currentPage > 4){
                fromPage = currentPage - 4;
            }
            toPage = fromPage + 8;
            if(toPage > nPages){
                toPage = nPages;
            }
        }

        for(var i = fromPage; i <= toPage; i++){
            document.getElementById('aPag'+(i-fromPage)).innerText = i;
            if(i == currentPage){
                document.getElementById('aPag'+(i-fromPage)).className = 'active';
            }
        }
    }
</script>

<script>
    function responsiveHandler() {
        var x = document.getElementById("menuMobile");
        if (x.className === "menuContainer") {
            x.className += " responsive";
        } else {
            x.className = "menuContainer";
        }
    }
</script>

</body>

</html>