<!-- views/mainpage.ejs -->
<!doctype html>
<html>

<meta name="viewport" content="width=device-width,initial-scale=1.0">

<head>
	<title>Recipe Dashboard</title>
	<link href="../css/foodbook.css" rel="stylesheet" type="text/css">
</head>

<body onload="javascript:init()">
<div class="container">
	<div class="row" style="border-bottom: none">
		<div class="menuContainer" id="menuMobile">
            <% if(user){ %>
			<div class="col-2 col-m-2">
				<a href="/mainpage">RecipeDashboard</a>
			</div>
			<div class="col-2 col-m-4">
				<a href="/cookbook">MyCookbook</a>
			</div>
			<div class="col-2 col-m-6">
				<a href="/analytics">Analytics</a>
			</div>
			<div class="col-2 col-m-8">
				<a href="/logout">Logout</a>
			</div>
			<div class="col-4 col-m-12" style="float: right; border: none;">
				<text>
					Logged as:</br>
					<b><%= user %></b>
				</text>
			</div>
            <% } else { %>
			<div class="col-2 col-m-2">
				<a href="/">SignIn</a>
			</div>
			<div class="col-2 col-m-4">
				<a href="/mainpage">RecipeDashboard</a>
			</div>
			<div class="col-2 col-m-6">
				<a href="/analytics">Analytics</a>
			</div>
			<div class="col-4 col-m-12" style="float: right; border: none;">
				<text>
					Please, sign in to </br> access your Cookbook
				</text>
			</div>
            <% } %>
			<div class="icon" style="float: right; border: none;">
				<a href="javascript:void(0);" style="font-size:15px;" onclick="responsiveHandler()">&#9776;</a>
			</div>
		</div>
	</div>

	<div class="row" style="border-bottom: none">
			<div class="col-2 col-m-2 search" style="border: none">
				<strong> Search by ingredient:   </strong>
			</div>
			<div class="col-10 col-m-12 search" style="border: none">
				<text>
					<form method="get" action="/mainpage">
						<input type="text" id="searchInput" class="searchInput" name="keywords" maxlength="120"><input type="submit" value="SEARCH" class="searchButton">
					</form>
				</text>
			</div>

	</div>

	<div class="row" style="border-bottom: none">
		<div class="recipeContainer">
			<h1><i>Recipe Dashboard</i></h1>
			<ul>
			<% recipes.forEach(function(r,i) {%>
				<li>
					<form name="form<%= i %>" action="/recipe" method="post">
						<a href="#" class="recipeLink" onclick="document.forms['form<%= i %>'].submit(); return false;">
							<% r.ingredients.forEach(function(ingr,j) {%>
							<input type="hidden" class="recipeIngr<%= i %>" name="recipeingr" value="<%= ingr.name %>" />
							<% }); %>
							<input type="hidden" class="recipeInfo" name="recipeid" value="<%= r._id %>" />
							<picture>
								<img src='<%= r.image %>' alt="">
								<figcaption>
									<%= r.title %>
								</figcaption>
							</picture>
						</a>
					</form>
				</li>
			<% }) %>
			</ul>
		</div>
	</div>

	<div class="row" style="display: flex">
		<div class="recipeNavPage" id="recipeNavPage">
			<form name="formPrev" action="/mainpage" method="get">
				<a href="#" id="aPrev" onclick="document.forms['formPrev'].submit(); return false;">&laquo; Prev</a>
				<input type="hidden" name="page" value="<%= currentpage-1 %>"/>
				<input type="hidden" name="keywords" value="<%= keywords %>"/>
			</form>
            <% var pages = (npages < 10) ? npages : 9 %>
            <% for(var i=0; i<pages; i++){ %>
			<form name="formPag<%= i %>" action="/mainpage" method="get">
				<a href="#" id="aPag<%= i %>" onclick="document.forms['formPag<%= i %>'].submit(); return false;"></a>
				<input id="iPag<%= i %>" type="hidden" name="page"/>
				<input type="hidden" name="keywords" value="<%= keywords %>"/>
			</form>
            <% } %>
			<form name="formNext" style="width: 20%" action="/mainpage" method="get">
				<a href="#" id="aNext" onclick="document.forms['formNext'].submit(); return false;">Next &raquo;</a>
				<input type="hidden" name="page" value="<%= currentpage+1 %>"/>
				<input type="hidden" name="keywords" value="<%= keywords %>"/>
			</form>
		</div>
	</div>
</div>
</body>

<script>
    function init() {
        document.getElementById('searchInput').value = '<% keywords %>';

        var currentPage = +'<%=currentpage%>';
        var nPages = +'<%=npages%>';

        if(currentPage == 1){
            document.getElementById('aPrev').className = 'not-active';
		}
		if(currentPage == nPages){
            document.getElementById('aNext').className = 'not-active';
		}

        var fromPage = 1, toPage;
		if(nPages < 10){
		    toPage = nPages;
        } else {
		    if(currentPage > 4){
		        fromPage = currentPage - 4;
			}
            toPage = fromPage + 8;
            if(toPage > nPages){
                toPage = nPages;
            }
		}

		for(var i = fromPage; i <= toPage; i++){
		    document.getElementById('iPag'+(i-fromPage)).value = i;
            document.getElementById('aPag'+(i-fromPage)).innerText = i;
            if(i == currentPage){
                document.getElementById('aPag'+(i-fromPage)).className = 'active';
			}
		}
    }
</script>

<script>
    function responsiveHandler() {
        var x = document.getElementById("menuMobile");
        if (x.className === "menuContainer") {
            x.className += " responsive";
        } else {
            x.className = "menuContainer";
        }
    }
</script>
</html>